body{
    background-color: lightgray;
    width:0px;
}

.nav-bar{
display: flex;
}

.logo{
    margin-left: 15px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    line-height: 10%;
    rotate: -45deg;
}

.reseau{
    display:flex;
    flex: 1;
}

.icon {
    display: flex;
    border-radius: 20px;
    text-align: center;
    margin-left: 15px;
    margin-top: 1%;
    height:32px;
    width:32px;
}

.icon > i {
    margin: auto;
}

.insta{
    background-color: rgb(49, 49, 82);
    color: white;
    margin-left: 1620px;
}

.facebook{
    background-color: rgb(255, 255, 255);
    color: rgb(49, 49, 82);
}

.linkedin{
    background-color: rgb(49, 49, 82);
    color: rgb(253, 253, 253);
}

.title{
    position: absolute;
    left: 28%;
    top: 18%;
    width: 50%;
}
.in,.interior,.trust{
   z-index: 1;
   display: auto;
   font-family: 'Poppins', sans-serif;
   font-size:1150%;
   font-weight:600;
   width: 100%;
   line-height: 92%;
}

.in{
    display: inline-block;
    width: 17%;
    margin-right: 70px;
}

.salon{
    width: 360px;
    height: 140px;
    border-radius: 30px;
    display: inline-block;
    border-color: rgb(36, 36, 54);
    border-style:solid;
    border-width: 6px;
    -webkit-transition: all 1s ease;
}

.salon:hover{
    -webkit-transform:scale(1.25);
}

.project{
    font-size:18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    margin-left:250px;
    position: absolute;
    top: 40px;
    left: 500px;
}

.project:hover{
    text-decoration:underline;
    text-decoration-thickness: 3px;
}

.back{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size:230px;
    font-weight:600;
    color: white;
    top: 430px;
    left: 340px;
    z-index: -1;
}

.salon2{
    position:absolute;
    width: 100%;
    top: 800px;
}

.fleche-bas{
    position:absolute;
    top: 85%;
    left: 68%;
    color: rgb(30, 31, 37);
}

.fleche-bas:active{
    opacity: 0;
}
